.taskboard-wrapper {
  width: 100%;
  overflow: auto;
  margin-top: 32px;
}

.my-taskboard-wrapper {
  margin-top: 32px;
}

.taskboard-pane {
  float: left;
  width: 15%;
  margin: 0 4px;
  background-color: #f6ecf3;
  border-radius: 0.3em
}

.taskboard-pane h2, .taskboard-pane h3 {
  border: none;
}

.taskboard-pane h3.status {
  color: #666;
  font-size: 14px;
  border-bottom: solid 1px #666;
  text-align: center;
  font-style: italic;
}

.taskboard-pane h2 {
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

.taskboard-pane ul {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 6px 6px 0 6px;
  min-height: 50px;
  border: solid 0px;
  border-color: lightgray;
}

.taskboard-pane ul.empty {
  border: dashed 2px #885183;
  background: lightgray;
}

.taskboard-pane ul li.card {
  list-style-type: none;
  margin: 0 0 6px 0;
  padding: 0;
  position: static;
  font-size: 1em;
  height: auto;
  white-space: normal;
  line-height: auto;
  background-color: #FDF0D2;
  border-radius: 2px 15px 2px 2px;
  box-shadow: 2px 2px 2px rgb(113, 113, 113);
}

.taskboard-pane ul li.card.over-limit div.issue {
  color: #aaa;
  background: #ddd;
}

.taskboard-pane ul li.card.bug div.issue {
  border: solid 1px #D8000C;
  border-top-width: 3px;
}

.taskboard-pane ul li.card.feature div.issue {
  border: solid 1px #4F8A10;
  border-top-width: 3px;
}

.taskboard-pane ul li.card.support div.issue {
  border: solid 1px #00529B;
  border-top-width: 3px;
}

.taskboard-pane ul li.card.task div.issue {
  border: solid 1px #a73ee5;
  border-top-width: 3px;
}

.taskboard-pane ul li.card.over-limit div.issue h3 a {
  color: #aaa;
}

.taskboard-pane ul li.card div.issue {
  padding: 3px;
}

.taskboard-pane ul li.card div.issue:hover {
  cursor: pointer;
}

.taskboard-pane ul li.card div.issue p.meta {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.taskboard-pane ul li.card div.issue div.issue-heading {
  overflow: auto;
  margin-bottom: 3px;
}

.taskboard-pane ul li.card div.issue div.issue-heading p.issue-number {
  float: left;
}

.taskboard-pane ul li.card div.issue h3 {
  font-size: 14px;
  margin-bottom: 3px;
}

.taskboard-pane ul li.card div.issue h3 a {
  color: #000;
}

.taskboard-pane ul li.card div.issue h3 a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: none;
}

#main.nosidebar #content {
  position: relative;
}

#taskboard-filters {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
}

#taskboard-filters p {
  margin: 0;
  padding: 0;
}

#taskboard-buttons {
  position: absolute;
  top: 0;
  right: 0;
  background: #ccc;
  padding: 3px;
}

.issue-priority {
  float: right;
  padding: 2px;
  font-size: 9px;
  margin: 0;
}

#prioritized-wrapper {
  width: 30%;
  float: left;
}

#not-prioritized-wrapper {
  width: 65%;
  float: left;
}

ul#not-prioritized {
  overflow: hidden;
}

#not-prioritized-wrapper ul li {
  float: left;
  width: 200px;
  height: 70px;
  margin: 0 10px 10px 0;
}

#not-prioritized-wrapper ul li .issue {
  height: 60px;
}

#not-prioritized-wrapper ul li .issue .issue-heading {
  height: 16px;
}

#not-prioritized-wrapper ul li .issue h3 {
  height: 24px;
  line-height: 12px;
  font-size: 12px;
  margin-bottom: 0;
  overflow: hidden;
}

.taskboard-pane ul li.card.minimized div.issue {
  background-color: #efefef;
  border: none;
  padding: 0px;
  margin-bottom: -2px;
  margin-top: -2px;
  height: 12px;
  overflow: hidden;
}

.taskboard-pane ul li.card.minimized div.issue .issue-heading,
.taskboard-pane ul li.card.minimized div.issue p.meta {
  display: none;
}

.taskboard-pane ul li.card.minimized div.issue h3,
.taskboard-pane ul li.card.minimized div.issue h3 a {
  font-size: 10px;
  line-height: 10px;
  color: #aaa;
}

.taskboard-pane .card.move-error .issue {
  background-color: red;
}

#not-prioritized-wrapper li.card.minimized {
  display: none;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.taskboard-pane .tag-list .tag-label-color {
  padding: 0px 2px;
  margin: 0px;
  font-weight: normal;
  font-size: 12px;
}

.taskboard-pane .tag-list .tag-label-color a { color: white !important; }
